[Unit]
Description=Node.js App
After=network.target

[Service]
Type=simple
User=laborant
WorkingDirectory=/home/laborant/app
ExecStart=/home/laborant/app/index.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
