- hosts: all
  tasks:
    # - name: Install required Python packages
    #   pip:
    #     name:
    #       - requests
    #       - docker
    #     state: present
    #   become: yes

    - name: Pull Docker image
      docker_image:
        name: registry.iximiuz.com/myapp
        source: pull

    - name: Run Docker container
      docker_container:
        name: myapp
        image: registry.iximiuz.com/myapp
        state: started
        restart_policy: always
