- hosts: docker_machine
  tasks:
    - name: Restart Docker service
      become: yes
      service:
        name: docker
        state: restarted

    - name: Stop existing container
      command: docker stop app_aung
      ignore_errors: yes

    - name: Remove existing container
      command: docker rm app_aung
      ignore_errors: yes

    - name: Pull and run the application container
      command: docker run -d --restart always -p 4444:4444 --name app_aung ttl.sh/app_aung:1h
